# server/.gcloudignore

# Python-specific
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
*.pyc

# Environment and config files
.env
*.env
*.ini
*.yaml

# Ignore logs and caches
*.log
.cache/

# Git and other version control files
.git/
.gitignore